---
import Layout from '../layouts/Layout.astro'

import Intro from '../components/Intro.astro'
import Timeline from '../components/Timeline.astro'
import CVEntry from '../components/CVEntry.astro'
---

<Layout title="Paulina Castillo">
	<main>
		<Intro 
			name="Paulina Castillo" 
			position="Data Scientist" 
			institution="The University of Oklahoma"
		/>
		<h2 class="mt-10 mb-4">Experience</h2>
		<Timeline/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		margin-top: 4rem;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 3rem);
		color: #fffbfa;
		font-size: 20px;
	}
</style>
