---
import Layout from '../layouts/Layout.astro'

import AboutMe from '../components/AboutMe.astro'
import Experience from '../components/Experience.astro'
import MiniCVEntry from '../components/MiniCVEntry.astro'
---

<Layout title="Paulina Castillo">
	<AboutMe />
	<div id="experience">
		<h2 class="mt-10 mb-4">Experience</h2>
		<Experience />
	</div>
</Layout>
