<p {...Astro.props}>
    I am a Mathematician and Computer Science student from
    <a href="https://unal.edu.co/"><i >Universidad <!-- style="color: #acbb63;" -->
        Nacional de Colombia</i></a>, currently pursuing a Master in Data Science 
    and Analytics at <a href="https://www.ou.edu/"><i>The University of Oklahoma</i>.</a><!-- style="color: #e13d48;" -->
    My work bridges my interest in data visualization, graph theory,
    and network optimization. At the <a href="https://andresdgonzalez.com" 
    target="_blank">Netsys Research Lab</a>, 
    I am focused on improving the efficiency and resilience of
    transportation and supply networks.  	
</p>


