<!-- <p {...Astro.props}>
    I am a Mathematician and Computer Science from
    <a href="https://unal.edu.co/"><i >Universidad 
        Nacional de Colombia</i></a>,  Master in Data Science 
    and Analytics at <a href="https://www.ou.edu/"><i>The University of Oklahoma</i>.</a>
    My work bridges my interest in data visualization, graph theory,
    and network optimization. Former researcher at <a href="https://andresdgonzalez.com" 
    target="_blank">Netsys Research Lab</a>, 
    I am focused on improving the efficiency and resilience of
    transportation and supply networks.  	
</p> -->

<p class="mt-10">
  <!-- I’m a mathematician and computer scientist 
   -->
  <!-- from
  <a href="https://unal.edu.co/"><i>Universidad Nacional de Colombia</i></a> -->
  <!-- and a proud graduate of the Master’s in Data Science and Analytics  -->
  <!-- at
  <a href="https://www.ou.edu/"><i>The University of Oklahoma</i></a>. -->
  <!-- I had the opportunity to be part of the 
  <a href="https://andresdgonzalez.com" target="_blank"><i>Netsys Research Lab</i></a>,  -->
  <!-- where I explored how data, networks, and optimization can work together to make systems smarter. -->
These days I work at the intersection of data and problem-solving — 
  turning messy questions into clear, useful insights just because I love the process of figuring things out.
  I love teaching, learning, and finding elegant solutions to complex problems…
  and luckily, that’s exactly what I get paid to do.
</p>


