<!-- Le da la animación a los logos -->
<!-- Se llama en Card -->
<a {...Astro.props}
   class="inline-flex items-center justify-center p-0.5 text-white hover:scale-125 opacity-80 hover:opacity-100 hover:text-orange transition overflow-visible"
   target="_blank"
   rel="noopener">
   <slot />
</a>

