<nav class="fixed top-4 left-1/2 transform -translate-x-1/2 bg-orange bg-opacity-20 shadow-md backdrop-blur-md rounded-full px-6 py-3 z-50">
    <ul class="flex space-x-6">
        <li><a href="/" class="text-white hover:text-orange font-semibold transition-colors">Home</a></li>
        <li><a href="/#experience" class="text-white hover:text-orange font-semibold transition-colors">Experience</a></li>
        <li><a href="/#education" class="text-white hover:text-orange font-semibold transition-colors">Education</a></li>
        <li><a href="/#leadership" class="text-white hover:text-orange font-semibold transition-colors">Leadership</a></li>
        <li><a href="/projects" class="text-white hover:text-orange font-semibold transition-colors">Projects</a></li>
    </ul>
</nav>

<!-- con # el hiperlink es en la misma pagina, sin es que se va a otro archivo -->
