---
interface Props {
	title: string;
}

const { title } = Astro.props;

import { ViewTransitions } from 'astro:transitions'
import Navbar from '../components/Navbar.astro'
import Card from '../components/Card.astro'
import Footer from '../components/Footer.astro'
import 'katex/dist/katex.min.css'; 
---

<!doctype html>
<!-- Esto es lo que siempre va en las subpaginas de  mi pag web-->
<html lang="en">
	<head>
		<!-- estandar -->
		<meta charset="UTF-8" />
		<meta name="description" content="Paulina Castillo webpage" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com"> <!-- Llamado a google -->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- La fuente   -->
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet"><!-- La fuente x2 -->
		<title>{title}</title>
		<ViewTransitions /> 
	</head>
	<body><!-- lo que irá en esta página en especifico -->
		<Navbar /><!-- barra de navegación-->
		<main>
			<Card 
				name='Paulina Castillo'
				institution='The University of Oklahoma'
				position='Data Scientist'
			/>
			<slot /> <!-- deja como espacio para poner más cosas -->
		</main>
		<Footer /> <!--Margen inferior de la página  -->
	</body>
</html>
<!-- finos detalles de coquetería --> 
<style is:global> 
	html {
		font-family: "EB Garamond", system-ui, sans-serif;
		color-scheme: light dark;
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
		overflow-y: scroll;
		background-color: #23221f;
		min-height: 100vh;
	}

	body {
		margin-top: 6rem;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 3rem);
		color: #fffbfa;
		font-size: 20px;
	}

	::selection {
		background-color: rgba(191, 134, 115, 0.2);
	}

	a {
		color: #bf8673;
		/* text-decoration-line: underline; */
		/* text-decoration-style: wavy; */
	}

	h1 {
		font-size: 3rem;
		font-weight: 700;
	}
		
	h2 {
		font-size: 2rem;
		font-weight: 700;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
